*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.section-heading{
   max-width: 827px;
   text-align: center;
   margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    /* font-weight: bold; */
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
    
}

header{
    background-color:#FFF8F3;
    
    background:url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-position:top left, bottom right ;
    background-repeat: no-repeat;
   

}
.btn{
    background-color: #FD6E0A;
    border: none;
padding: 18px 35px;
border-radius: 5px;
font-size: 20px;
font-weight: bold;
    color: white;
    cursor: pointer;
}.btn:hover{
    background-color: brown;
    color: white;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    color: black;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    

}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 43px 36px 0px 232px;
    
}
 #banner .banner-content{
    max-width: 585px;
 }
  #banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;


  }
  #banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;


  }
  #banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;

  }  
   #banner .banner-image{
    width: 584px;
    vertical-align: middle;


   }
   #about{
    padding-top: 130px;
   }
   #about .about-container{
    width:71% ;
    max-width: 1140px;
    margin:0 auto ;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
   }
    #about .about-container .about-info{
        display: flex;
        justify-content: space-around;
    }
    .about-info .info-card p{
         font-size: 20px;
    line-height: 30px;
    color: #757575;
    
    }
    .about-info .info-card h4{
         font-size: 20px;
         font-weight: bold;
    line-height: 30px;
    color: #474747;

    }
    #skills{
        padding-top: 130px;
    }
    #skills .skills-container{
        width: 71%;
        max-width: 1140px;
        margin: 0 auto;

    }
     #skills .skills-container .skill-box{
        display: flex;
        gap: 24px;
     }
     .skill-box .skill-card{
        max-width: 267px;
        padding: 30px;
        /* border: 2px solid black; */
        /* box-shadow:0px 6px 50px 0px #00000020  */
        /* border-radius: 30px; */
          /* border: 1px solid #FFF8F3 ; */
          margin-bottom: 130px;
        
     }
     .skill-card:hover{
        box-shadow:0px 6px 50px 0px #00000020 ;
        border-radius: 30px;
        animation: 0.5s ;
        cursor: pointer;
        background-color: #FFF8F3;
        border: 1px solid #FFF8F3 ;
     }
     .skill-card img{
        max-width: 44px;
        margin-bottom: 30px;

     }
     .skill-card h3{
        color: #181818;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
     }
     .skill-card p{
        font-size: 16px;
        line-height: 28px;
        color: #757575;
     }
     #resume .resume-container{
        width: 71%;
        max-width: 1140px;
        margin: 113px auto 0px;
        display: flex;
        gap: 24px;

     }
     .resume-container .section-title{
        font-size: 30px;
        /* line-height: 30px; */
        color: #474747;
        margin-bottom: 30px;
     }
     .resume-card{
        max-width: 511px;
        margin-right: 47px;
        
     }
     .resume-card .card-title{
        font-size: 25px;
        margin-bottom: 10px;
        color: #474747;
     }
     .resume-card .card-info{
        font-size: 20px;
        color: #757575;
        margin-bottom:20px ;
        font-weight: 600;
     }
     .resume-card .text{
        font-size: 16px;
        line-height: 28px;
        color: #757575;
     }
     .resume-container hr{
        margin: 30px 0px ;
     }
     .button{
        text-align: center;
        padding-top: 70px;
     }
     footer{
        margin-top: 113px;
        background-color: #FFF8F3;
        padding: 130px 0px;
     }
     footer .footer-container{
         width: 71%;
        max-width: 1140px;
        margin: 113px auto 0px;
        display: flex;
        gap: 116px;

     }
    .footer-container .social{
        max-width: 562px;


    }
    .footer-container h2{
        font-size: 35px;
        color: #181818;
        margin-bottom: 20px;


    }
    .footer-container p{
        color: #474747;
        line-height: 28px;
        font-size: 16px;
        margin-bottom: 30px;
    }
    .footer-container .icons a{
        margin-right: 24px;

    }
    
    .footer-container form input[type="text"],
    .footer-container form textarea{
        width: 461px;
        padding: 18px 30px;
        margin-bottom: 24px;
        border: none;
        border-radius: 5px;
        color: #757575;
    }
    




   
   